.message {
    background-color: #f0f0f0;
    text-align: left;
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    padding: 7px 7px 7px 15px;
    color: rgba(0, 0, 0, .5);
}

.user-message {
    background-color: #00A8E8;
    text-align: left;
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    padding: 7px 7px 7px 15px;
    color: #ffffff;
}