.messages {
    width: 65%;
    margin: 100px auto;
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 50px;
    h4{
        color: #00A8E8;
    }
    .msg {
        width: 300px;
        background-color: white;
        color: black;
        margin: auto;
        margin-top: 5px;
        padding: 5px;
        border-radius: 50px;
    }
}